body{
	padding-top: 80px; 
	background-color: #F2F2F2;
}

/*Barra fija*/
.navbar-custom{
	background-color: #FAFAFA;
	border-bottom: 1px solid #D8D8D8;
}
.navbar-custom .btn{
	background-color: #F781F3;
	color:#FFFFFF;
	border: 1px solid #F781F3;
	font-family: 'Roboto', sans-serif;
	border-radius: 0 2px 2px 0;
}
.navbar-custom .btn:hover {
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
.navbar-custom .nav-link{
	color:#2E2E2E;
	font-family: 'Roboto', sans-serif;
}
.navbar-custom .carrito-custom{
	margin-left: 30px;
}
.navbar-custom .form-control{
	border-color:#F781F3;
	border-radius: 2px 0 0 2px;
}
.navbar-custom .form-control:focus{
	border-color:#FFFFFF;
	box-shadow: 0 0 1em #F781F3;
}

.btn-modal-custom{
	background-color: transparent;
	border:none;
}
/*Barra fija*/

/*MODAL*/
.modal-content .form-control:focus{
	border-color:#FFFFFF;
	box-shadow: 0 0 1em #F781F3;
}
.modal-content .btn{
	background-color: #F781F3;
	color:#FFFFFF;
}
.modal-content .btn:hover{
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
/*MODAL*/

/*Barra categorias*/
.nav-custom{
	width:100%;
	background-color:#FAFAFA;
	border-bottom: 1px solid #D8D8D8;
}
.nav-custom .nav-link{
	color:#2E2E2E;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}
/*Barra categorias*/

/*Carousel*/
.carousel_custom{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #D8D8D8;
}

.carousel-inner img{
	width: 100%;
	height: 400px;
}
/*Carousel*/

/* */
.container-custom{
	text-align: center;
	background-color: #FAFAFA;
	width: 100%;
	padding-bottom: 0px;
	border-bottom: 1px solid #D8D8D8;
}

.container-custom .col{
	padding-top: 8px;
}
.container-custom .col:hover{
	background-color: #F781F3;
	color:#FAFAFA;
}
.container-custom .col-custom{
	border-right: 1px solid #D8D8D8;
	font-family: 'Roboto', sans-serif;
}
/* */

/*Imagen*/
.img-custom{
	width: 100%;
	border: 1px solid #D8D8D8;
	box-shadow: 0 0 1em #D8D8D8;
	padding-right: 0px;
	padding-left: 0px;
}
.img-custom img{
	width: 100%;
	height: 280px;
}
/*Imagen*/

/*Productos*/
.container-card{
	padding-top: 80px;
	padding-bottom: 80px;
}
.container-card .card{
	padding:10px;
	box-shadow: 0 0 1em #D8D8D8;
}
.card:hover{
	border: 1px solid #FF00FF;
}
/*Productos*/

/*Footer*/
.footer-custom{
	background-color: #FAFAFA;
	width: 100%;
	border-top: 1px solid #D8D8D8;
	margin-top: 50px;
}
.footer-custom .img-redes{
	padding-top: 50px;
	padding-left: 80px;
	margin-left: 100px;
	align-items: center;
}
.footer-custom .col-text{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 30px;
}
/*Footer*/