html{
    position: relative; 
    min-height: 100%;
}
body{
	padding-top: 80px; 
	background-color: #F2F2F2;
	padding-bottom: 181px;
}

/*Barra fija*/
.navbar-custom{
	background-color: #FAFAFA;
	border-bottom: 1px solid #D8D8D8;
	-webkit-backface-visibility: hidden;
}
.navbar-custom .btn{
	background-color: #F781F3;
	color:#FFFFFF;
	border: 1px solid #F781F3;
	font-family: 'Roboto', sans-serif;
	border-radius: 0 2px 2px 0;
}
.navbar-custom .btn:hover {
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
.navbar-custom .nav-link{
	color:#2E2E2E;
	font-family: 'Roboto', sans-serif;
}
.navbar-custom .carrito-custom{
	margin-left: 30px;
}
.navbar-custom .form-control{
	border-color:#F781F3;
	border-radius: 2px 0 0 2px;
}
.navbar-custom .form-control:focus{
	border-color:#FFFFFF;
	box-shadow: 0 0 1em #F781F3;
}

.btn-modal-custom{
	background-color: transparent;
	border:none;
}
.btn-modal-custom:focus{
	box-shadow: none;
	border-color: none;
}
/*Barra fija*/

/*MODAL*/
.modal-content .modal-body{
	padding-bottom: 0px;
}
.modal-content .form-control:focus{
	border-color:#FFFFFF;
	box-shadow: 0 0 1em #F781F3;
}
.modal-content .btn{
	background-color: #F781F3;
	color:#FFFFFF;
}
.modal-content .btn:hover{
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
/*MODAL*/

/*Popuver*/
/*Popuver*/

/*Barra categorias*/
.nav-custom{
	width:100%;
	background-color:#FAFAFA;
	border-bottom: 1px solid #D8D8D8;
}
.nav-custom .nav-link{
	color:#2E2E2E;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}
.anim-underline {
  position: relative;
}
.anim-underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.7px;
  width: 100%;
  background-color: #FF00FF;
  animation: width 0.5s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}
.anim-underline:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Barra categorias*/

/*Producto*/
.marcas{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}
.marcas p{
	display: inline;
	font-size: 15px;
}
.marcas a{
	color: #016AB3;
	font-size: 15px;
}
.articulo-custom{
	border: 1px solid #D8D8D8;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 0 1em #D8D8D8;
}
.col-img{
	padding-bottom: 20px;
	padding-top: 25px;
	padding-left: 0px;
}
.col-img img{
	height: 500px;
	width: 525px;
	display: block;
	margin:auto;

}
.col-inf{
	padding-top: 25px;
	padding-bottom: 20px;
}
.col-inf .nombre{
	color: #000;
	font-size: 28px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 10px;
}
.nombre p{
	margin-left: 10px;
}
.col-inf .precio{
	color: #D1030F;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
.precio p{
	margin-bottom: 5px;
}
.col-inf .cuotas{
	border: 1px solid #D8D8D8;
	margin-bottom: 10px;
}
.cuotas .jumbotron{
	margin-bottom: 0px;
}
.col-inf .comprar-custom{
	background-color: #F781F3;
	color:#FFFFFF;
	border-color: transparent;
	margin-top: 5px;
}
.col-inf .comprar-custom:hover{
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
.col-inf .envios{

}
.envios p{
	display: inline;
	margin-left: 5px;
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	font-size: 16px
    letter-spacing: -.5px;	
}
.col-inf .retiro{
	margin-top: 10px;
}
.retiro p{
	display: inline;
	margin-left: 5px;
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	font-size: 16px
	letter-spacing: -.5px;
}
/*Producto*/

/*Mar articulos*/
.mas-art{
	border: 1px solid #D8D8D8;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 0 1em #D8D8D8;
	border-radius: 4px;
}
.mas-art h2{
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
}
.mas-art hr{
	margin-top: 0px;
}
.card{
	border-color: transparent;
	width: 250px;
}
.card:hover{
	border-color: #FF00FF;
}
.card:hover img{
	opacity: 0.1;
}
.card:hover .card-tittle{
	visibility: hidden;
}

.card img{
	height: 211.25px;
	width: 211.25px;
}
.card .card-tittle{
	height: 40px;
	font-size: 18px;
}
.card-text{
	color: #B40404;
}
.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FF00FF;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}
.card:hover .img__description_layer{
	visibility: visible;
  	opacity: 1;
}
.card:hover .img__description {
  transform: translateY(0);
}
/*Mas articulos*/

/*Footer*/
.footer-custom{
	background-color: #FAFAFA;
	width: 100%;
	border-top: 1px solid #D8D8D8;
	margin-top: 50px;
	bottom: 0;
    position: absolute;
}
.footer-custom .img-redes{
	padding-top: 50px;
	padding-left: 80px;
	margin-left: 100px;
	align-items: center;
}
.footer-custom .col-text{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 30px;
}
/*Footer*/