html{
    position: relative; 
    min-height: 100%;
}

body{
	padding-top: 80px; 
	background-color: #F2F2F2;
	padding-bottom: 181px;
}

/*Barra fija*/
.navbar-custom{
	background-color: #FAFAFA;
	border-bottom: 1px solid #D8D8D8;
}
.navbar-custom .btn{
	background-color: #F781F3;
	color:#FFFFFF;
	border: 1px solid #F781F3;
	font-family: 'Roboto', sans-serif;
	border-radius: 0 2px 2px 0;
}
.navbar-custom .btn:hover {
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
.navbar-custom .nav-link{
	color:#2E2E2E;
	font-family: 'Roboto', sans-serif;
}
.navbar-custom .carrito-custom{
	margin-left: 30px;
}
.navbar-custom .form-control{
	border-color:#F781F3;
	border-radius: 2px 0 0 2px;
}
.navbar-custom .form-control:focus{
	border-color:#FFFFFF;
	box-shadow: 0 0 1em #F781F3;
}

.btn-modal-custom{
	background-color: transparent;
	border:none;
}
/*Barra fija*/

/*MODAL*/
.modal-content{
	font-family: 'Ubuntu', sans-serif;
}
.modal-content label{	
	margin-bottom: 0px;
	margin-top: 8px;
}
.modal-content .form-control:focus{
	border-color:#FFFFFF;
	box-shadow: 0 0 1em #F781F3;
}
.modal-content .btn{
	background-color: #F781F3;
	color:#FFFFFF;
}
.modal-content .btn:hover{
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
/*MODAL*/

/*Barra categorias*/
.nav-custom{
	width:100%;
	background-color:#FAFAFA;
	border-bottom: 1px solid #D8D8D8;
}
.nav-custom .nav-link{
	color:#2E2E2E;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}
.anim-underline {
  position: relative;
}
.anim-underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.7px;
  width: 100%;
  background-color: #FF00FF;
  animation: width 0.5s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}
.anim-underline:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Barra categorias*/

/* */
.col-custom1{
	background-color: #FAFAFA;
	padding-left: 0px;
	padding-right: 0px;
	border-right: 1px solid #D8D8D8;
	box-shadow: 0 0 1em #D8D8D8;
}
.col-custom1 .nav-link.active{
	color: #FF00FF;
	background-color: #D8D8D8;
}
.col-custom1 .nav-link{
	color: #585858;
	font-family: 'Ubuntu', sans-serif;
}
.col-custom1 .nav-link.active:focus{
	background-color: #D8D8D8;
}

.col-custom{
	margin-left: 40px;
	margin-right: 0px;
}
.col-custom2{
	border: 1px solid #D8D8D8;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #FAFAFA;
	box-shadow: 0 0 1em #D8D8D8;
}

.title-custom{
	padding-left: 0px;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 1.5px 1.5px #D8D8D8;
}

.text-custom{
	margin-top: 10px;
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
}
.text-custom h6{
	color:#A4A4A4;
}

.datos-custom .col-custom-datos{
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Ubuntu', sans-serif;
}
.col-custom-datos h6{
	color:#A4A4A4;
}

.col-custom2 .btn{
	margin-top: 35px;
	background-color: #F781F3;
	color:#FFFFFF;
	align-items: center;
}

.col-custom2 .btn:hover{
	background-color: #FF00FF;
	border: 1px solid #FF00FF;
	color:#FFFFFF;
}
.col-custom2 .btn:focus{
	box-shadow: none;
}
/* */

/*Footer*/
.footer-custom{
	background-color: #FAFAFA;
	width: 100%;
	border-top: 1px solid #D8D8D8;
 	bottom: 0;
    position: absolute;
}
.footer-custom .img-redes{
	padding-top: 50px;
	padding-left: 80px;
	margin-left: 100px;
	align-items: center;
}
.footer-custom .col-text{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 30px;
}
/*Footer*/